.menu-categories {
  background-color: #e2622b;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.button-categories {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin: 0 2px 5px;
  padding: 5px 0px;
}
