@font-face {
  font-family: Gilroy;
  src: url('./fonts/Gilroy-Light.otf');
}

* {
  box-sizing: border-box;
  font-family: Gilroy , Arial , Helvetica , sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

footer {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}
